[Desktop Entry]
Exec=/home/fabian/.local/kitty.app/bin/kitty yazi
Name=yazi
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
