[Desktop Entry]
Exec=/bin/sh -c "sudo systemctl start keyd & sudo chronyc makestep"
Name=sudo systemctl start keyd & sudo chronyc makestep
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
